.sidebar{
    background-color:blue;
    // background: url(..//../images/Rectangle\ 6.png);
    .container{
        background-color: #3D4A39;
        position: relative;
    }
    &__image{
        width: 630px;
        height: 675px;
        position: absolute;
        top: 0px;
        right: -31px;
    }
    &__nav{
        width: 25%;
        padding: 80px 0px;
        &-title{
            font-family: Raleway;
            font-size: 46px;
            font-weight: 600;
            line-height: 57.5px;
            text-align: left;
            color: #FFFFFF;
        }
        &-text{
            padding: 20px 0px;
            font-family: Raleway;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
            text-align: left;
            color: #FFFFFF;
            opacity: 80%;
        }
        &-form{
            padding-top: 10px;
            &--input{
                margin: 10px 0px;
                width: 100%;
                padding: 5px 0px;
                font-family: Raleway;
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
                text-align: left;
                color: #FFFFFF;
                
                outline: none;
                border: none;
                border-bottom:2px solid #ffffff78;
                background-color: #3D4A39;
            }
            &--span{
                padding: 20px 0px 55px 0px;
                display: flex;
            }
            &--subtext{
                padding-left: 10px;
                font-family: Raleway;
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
                text-align: left;
                color: #FFFFFF;
                opacity: 50%;
            }
            &--btn{
                width: 100%;
                padding: 15px;
                font-family: Raleway;
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
                text-align:center;
                color: #FFFFFF;
                background: #AE7B3C;
                border: none;
                border-radius: 3px;
                &:hover{
                    color:black;
                    background:white;
                }
            }
            &--box{
                padding-top: 41px;
                display: flex;
            }
            &--number{
                padding-left:10px;
                font-family: Raleway;
                font-size: 11.5px;
                font-weight: 500;
                line-height: 20px;
                text-align:center;
                color: #FFFFFF;
                opacity: 80%;
            }
        }
    }
}